/*import fonts*/

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&display=swap');

/*style-guide value*/

:root {
    /*COLORS - PRIMARY*/
    --clr-cyan: hsl(179, 62%, 43%);
    --clr-bright_yellow: hsl(71, 73%, 54%);
    --clr-opposite-bright-yellow: hsl(251, 73%, 54%);
    /*COLORS - NEUTRAL*/    
    --clr-grayish_blue: hsl(218, 22%, 67%);
    --clr-light_gray: hsl(204, 43%, 93%);
    --clr-light_cyan: hsl(180, 43%, 74%);
    --clr-white: hsl(0, 0%, 100%);
    /* TYPOGRAPHY */
    --fs-body: 16px;
    --ff-primary:'Karla', sans-serif;
    --fw-200: 200; /* extralight */
    --fw-400: 400; /* medium */
    --fw-700: 700; /* bold */
    /*BORDERS*/
    /*BOX-SHADOWS*/
}

/* CSS RESET */
* {    
  box-sizing: border-box;   
  margin: 0;    
  padding: 0; 
}

body {
    /* Body fit 100% of the html*/
    min-height: 100vh;
    margin: 0;
    overflow: auto;

    /* Center div in body*/
    display:flex;
    align-items: center;
    justify-content: center;

    /* Set default font */
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-400);
    line-height: 1;

    /* Background */
    background-color: var(--clr-light_gray);


}

main {
    height: 725px;
    padding: 0 1.9rem;
    display: flex;
    align-items: center;
}

h1,h2,p,span {
    font-size: 1rem;

}

h1 {
    font-size: 1.4rem;
}

p {
    font-size: 1rem;
    font-weight: var(--fw-200);
}

.parent {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;

border-radius: 10px;

min-width: 325px;
height: 100%;

box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.join_our_community { grid-area: 1 / 1 / 2 / 2; }
.monthly_subscription { grid-area: 2 / 1 / 3 / 2; }
.why_us { grid-area: 3 / 1 / 4 / 2; }

.pannel {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
}

/* I start with the mobile design as adviced (Thx @vanzasetia) */

            /* "JOIN OUR COMMUNITY" PANNEL*/

.join_our_community {
    background-color: var(--clr-white);
    border-radius: 10px 10px 0 0;
}
.join_our_community h1 {
    color: var(--clr-cyan);
    margin-bottom: 1rem;
}

.join_our_community h2 {
    color: var(--clr-bright_yellow);
    font-size: 1rem;
}

.join_our_community p {
    line-height: 1.5rem;
    color: var(--clr-grayish_blue);
}

            /* "MONTHLY SUBSCRIPTION" PANNEL */

.monthly_subscription {
    background-color: var(--clr-cyan);
    color: white;
}

.monthly_subscription h2 {
    line-height: 2rem;
}


#price {
    font-size: 2rem;
}

#per_month {
    margin-left: 1rem;
    font-weight: var(--fw-200);
    vertical-align: middle;
}

.sign_up {
    background-color: var(--clr-bright_yellow);
    padding: 1rem;
    color: white;
    font-size: 1rem;
    border-style: none;
    border-radius: 5px;

    /*cursor: pointer;
    box-shadow: 1 1 1 1 var(--clr-opposite-bright_yellow);
    transition: ease-out 0.4s;*/
}

/*.sign_up:hover {
  box-shadow: inset 400px 0 0 0 var(--clr-opposite-bright-yellow);
}*/


            /* "WHY US" PANNEL */

.why_us {
    background-color: var(--clr-light_cyan);
    color: var(--clr-white);
    border-radius: 0 0 10px 10px;
}

.why_us h1 {
}

.why_us p {
    font-weight: var(--fw-200);
    line-height: 1.2rem;
}

            /* DESKTOP USING MEDIA QUERIES */

@media only screen and (min-width: 649px) {

    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        width: 635px;
        height: 475px;
        }

        .join_our_community { grid-area: 1 / 1 / 2 / 3; }
        .monthly_subscription { grid-area: 2 / 1 / 3 / 2; }
        .why_us { grid-area: 2 / 2 / 3 / 3; } 

        .pannel {
            padding: 2.5em;
        }

        .monthly_subscription {
             border-radius: 0 0 0 10px;
        }

        .why_us {
            border-radius: 0 0 10px 0;
        }

        .why_us h1 {
            margin-bottom: 2rem;
        }

        .sign_up {

            cursor: pointer;
            box-shadow: 1 1 1 1 var(--clr-opposite-bright_yellow);
            transition: ease-out 0.6s;
        }

        .sign_up:hover {
          box-shadow: inset 400px 0 0 0 var(--clr-opposite-bright-yellow);
        }


}








